<div>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>

    <!--<div>
      <div>
        <a href="/boards">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_board/<%#= @the_board.id %>">
          Delete board
        </a>
      </div>
    </div>-->


  </div>
</div>

<hr>

<h2>Add a new post</h2>

<form action="/insert_post", method="post">
<div>
  <label for="titleinput">Title</label>
  <input type="text", id="titleinput", name="query_title">
</div>
<div>
  <label for="bodyinput">Body</label>
  <textarea id="bodyinput", name="query_body", cols="30", rows="10"></textarea>
</div>
<div>
  <label for="expiresinput">Expires on</label>
  <input type="date", id="expiresinput", name="query_expires_on">
</div>
<div>
  <label for="boardinput">Board ID</label>
  <input type="text", id="boardinput", name="query_board_id", Value="<%=@the_board.id%>">
</div>
<button>Add Post</button>
</form>

<hr>


